* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
}

/* html {
    font-size: 62.5%;
} */

.primary-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #059669;
    padding: 1rem 2rem;
    border-radius: 7px;
}

.logo-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-items a {
    text-decoration: none;
    color: #6b7280;
}

.logo-icon {
    color: #059669;
    font-size: 3rem;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;   
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 50%;
}

.hero-text-tag {
    background: #e5e7eb;
    color: #4b5563;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 20px;
}

.hero-heading {
    font-size: 5rem;
}

.hero-lists {
    list-style: none;
    color: #4b5563;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-list i {
    color: #059669;
}

.outlined-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #e5e7eb;
}

.hero-btn-wrapper {
    display: flex;
    gap: 20px;
}

.hero-image-wrapper img {
    width: 50rem;
    height: 40rem;
    border-radius: 50px;
}

/* .hero-image-wrapper {
    flex: auto;
} */

/* .hero-image-wrapper {
    width: 100%;
    border-radius: 12px;
} */

.how-it-works {
    background-color: #e0f2f1;
    padding: 50px 20px;
}

.how-it-works-title {
    text-align: center;
}

.how-it-works-title h3 {
    font-size: 32px;
    font-weight: 500;
}

.how-it-works-title p {
    color: #4b5563;
}

.how-it-works-card-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.how-it-works-card {
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

.how-it-works-card h4 {
    font-weight: 600px;
    font-size: 20px;
}

.card-icon {
    display: flex;
    background-color: #e0f2f1;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #059669;
}

.everything-you-need {
    padding: 50px 20px;
}

.everything-you-need-title {
    text-align: center;
}

.everything-you-need-title h3 {
    font-size: 32px;
    font-weight: 500px;
}

.everything-you-need-card-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.everything-you-need-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.everything-you-need-card h4 {
    font-weight: 500px;
    font-size: 20px;
}

.everything-you-need-card p {
    color: #4b5563;
}

.everything-you-need ul {
    color: #4b5563;
    list-style: none;
}

.cta {
    background: #0f9d6a;
    color: #fff;
    text-align: center;
    padding: 70px 20px;
    margin: 60px;
    border-radius: 16px;
}

.btn-white {
    background: #fff;
    color: #0f9d6a;
    border: none;
    padding: 14px 28px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 30px;
    font-size: 13px;
    color: #6b7280;
}